language: php
sudo: true

env:
- PS_FORMAT=user,pid,ppid,nlwp,%mem,args

before_install:
- sudo aptitude update -Z
- sudo aptitude install nginx -Z --assume-yes


script:
- service nginx status
- w3m -dump http://localhost:80


after_script:
- man nginx
- dpkg --listfiles nginx
- dpkg --listfiles nginx-common
- dpkg --listfiles nginx-core
- ls --color --recursive /etc/nginx
- cat /etc/nginx/nginx.conf
- cat /etc/nginx/sites-available/default
- cat /etc/default/nginx
- ls --color /usr/share/nginx/html
- w3m -dump /usr/share/nginx/html/index.html
- w3m -dump /usr/share/nginx/html/50x.html
- ps -C nginx
- ls -A --color /var/www

- ls --color /var/run
- grep cgi.fix_pathinfo /etc/php5/fpm/php.ini
- php-fpm --version
- php --ini
- php-fpm -h
- php-fpm -i
- ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm -i
- command -v php-fpm
- ls $(command -v php-fpm) --color
- ls $(command -v php-fpm) --color --dereference
- ls ~/.phpenv/versions --color
- ls ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default
- cat ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default
- find ~/.phpenv/versions -name php.ini
- find ~/.phpenv/versions/$(phpenv version-name) -name php.ini
- man php-fpm
- php-fpm --fpm-config ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default
- ls --color /var/run
- ps -C php-fpm
- find / -name php5-fpm.sock
