language: php
sudo: true

env:
- PS_FORMAT=user,pid,ppid,nlwp,%mem,args

before_install:
- sudo aptitude update -Z
- sudo aptitude install nginx -Z --assume-yes && ps -C nginx
- sudo aptitude install colordiff -Z --assume-yes

- alias grep='grep --color'
- alias ls='ls --color'
- alias ping='ping -c 1'
- alias w3m='w3m -dump'
- curlw () { curl --connect-timeout 3 $@ | w3m -dump -T text/html ; } # Does not take w3m alias.
- icanh=$(curl http://icanhazip.com)
- ipeth0=$(ip addr show eth0 | grep inet | awk '{ print $2; }' | sed 's/\/.*$//' | head --lines=1)


install:
- php-fpm --fpm-config ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default
# - sudo ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm --fpm-config ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default
#^ ERROR: [pool www] cannot get gid for group 'nobody'
# sudo: php-fpm: command not found
- sudo cp info.php /usr/share/nginx/html
- sudo cp --force .nginx-default /etc/nginx/sites-available/default
- sudo service nginx restart


script:
- service nginx status
- curlw http://localhost


after_script:
- man nginx
- dpkg --listfiles nginx
- dpkg --listfiles nginx-common
- dpkg --listfiles nginx-core
- ls --recursive /etc/nginx
- cat /etc/nginx/nginx.conf
- cat /etc/nginx/sites-available/default
- grep 'server_name.*;$' /etc/nginx/sites-available/*
- cat .nginx-default
- grep 'server_name.*;$' .nginx-default
- colordiff --side-by-side --minimal /etc/nginx/sites-available/default .nginx-default
- colordiff --unified --minimal /etc/nginx/sites-available/default .nginx-default
- cat /etc/default/nginx
- ls /usr/share/nginx/html
- w3m /usr/share/nginx/html/index.html
- w3m /usr/share/nginx/html/50x.html
- ps -C nginx
- ls -A /var/www

- ls /var/run
- grep cgi.fix_pathinfo /etc/php5/fpm/php.ini #####################################3
- php-fpm --version
- php --ini
- php-fpm -h
- php-fpm -i
- ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm -i
- command -v php-fpm
- ls $(command -v php-fpm)
- ls $(command -v php-fpm) --dereference
- ls ~/.phpenv/versions
- ls ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default
- cat ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default
- grep '^listen' ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default
- grep 'error_log' ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default
- grep '^pm = ' ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default
- grep '^pm.max_children' ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default
- find ~/.phpenv/versions -name php.ini
- find ~/.phpenv/versions/$(phpenv version-name) -name php.ini
- man php-fpm
- ls /var/run
- ls log
- ls log/php-fpm.log
- ls /log
- ls /log/php-fpm.log
- ps -C php-fpm
# - find / -name php5-fpm.sock

- w3m http://localhost:80/info.php

- ping1 $icanh
- curlw $icanh
- ping1 $ipeth0
- curlw $ipeth0
