language: php
sudo: true

env:
- PS_FORMAT=user,pid,ppid,nlwp,%mem,args

before_install:
- shopt -s expand_aliases
- alias
- alias diff='colordiff'
- alias grep='grep --color'
- alias ls='ls --color'
- alias ping='ping -c 1'
- alias w3m='w3m -dump'
- curlw () { curl --connect-timeout 3 $@ | w3m -T text/html ; }
- icanh=$(curl http://icanhazip.com)
- ipeth0=$(ip addr show eth0 | grep inet | awk '{ print $2; }' | sed 's/\/.*$//' | head --lines=1)

- sudo aptitude update -Z
- sudo aptitude install nginx -Z --assume-yes && ps -C nginx
- sudo aptitude install colordiff -Z --assume-yes


install:
- php-fpm --fpm-config ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default --define cgi.fix_pathinfo=0 -i | grep cgi.fix_pathinfo
- php-fpm --fpm-config ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default --define cgi.fix_pathinfo=0 && ps -C php-fpm
# - sudo ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm --fpm-config ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default
#^ ERROR: [pool www] cannot get gid for group 'nobody'
# sudo: php-fpm: command not found
- sudo cp info.php /usr/share/nginx/html
- sudo mv /etc/nginx/sites-available/default /etc/nginx/sites-available/default.orig
- sudo cp .nginx-default /etc/nginx/sites-available/default
- sudo service nginx restart && ps -C nginx


script:
- service nginx status
- curlw http://localhost


after_script:
- man nginx
- dpkg --listfiles nginx
- dpkg --listfiles nginx-common
- dpkg --listfiles nginx-core
- ls --recursive /etc/nginx
- cat /etc/nginx/nginx.conf
- cat /etc/nginx/sites-available/default.orig
- cat /etc/nginx/sites-available/default
- grep 'server_name.*;$' /etc/nginx/sites-available/*
- diff --side-by-side --minimal /etc/nginx/sites-available/default .nginx-default
- diff --unified --minimal /etc/nginx/sites-available/default .nginx-default
- cat /etc/default/nginx
- ls /usr/share/nginx/html
- w3m /usr/share/nginx/html/index.html
- w3m /usr/share/nginx/html/50x.html
- ls -A /var/www

- ls /var/run
- grep cgi.fix_pathinfo /etc/php5/fpm/php.ini # If config from Ubuntu was used.
- php-fpm --version
- php --ini
- php-fpm -h
- php-fpm -i
- php-fpm -i | grep cgi.fix_pathinfo
- ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm -i
- ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm -i | grep cgi.fix_pathinfo
- command -v php-fpm
- ls $(command -v php-fpm)
- ls $(command -v php-fpm) --dereference
- ls ~/.phpenv/versions
- ls ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default
- cat ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default
- grep 'cgi.fix_pathinfo' ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default
- grep '^listen' ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default
- grep 'error_log' ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default
- grep '^pm = ' ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default
- grep '^pm.max_children' ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default
- find ~/.phpenv/versions -name php.ini
- grep 'cgi.fix_pathinfo' $(find ~/.phpenv/versions -name php.ini)
- find ~/.phpenv/versions/$(phpenv version-name) -name php.ini
- man php-fpm
- ls /var/run
- ls log
- ls log/php-fpm.log
- ls /log
- ls /log/php-fpm.log
# - find / -name php5-fpm.sock

- w3m http://localhost:80/info.php
- w3m http://localhost:80/info.php | grep cgi.fix_pathinfo

- ping $icanh
- curlw $icanh
- ping $ipeth0
- curlw $ipeth0
